<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Accoount</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h1>Create Account</h1>
    <form action="/create" method="post">

        <input type="text" name="username" id="" placeholder="Enter User name" required>
        <input type="email" name="email" id="" placeholder="Enter your Email" required>
        <input type="password" name="password" id="" placeholder="Enter Your password" required>
        <button>Create</button>
    </form>
</body>

</html>