<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Landing Page</title>
    <link rel="stylesheet" href="/stylesheets/stylesheet.css">
</head>

<body>
    <form action="/CreateTask" method="get">
        <input type="text" placeholder="Enter title here" name="title">
        <textarea name="body" id=""></textarea>
        <button type="submit">Add Task</button>
    </form>

    <div class="task">

    </div>
</body>

</html>